* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

div {
    height: 100px;
    width: 250px;
    border: black solid 6px;
    margin: 10px auto 0;
    position: relative;
}

.discharged::after,
.half-charged::after,
.fully-charged::after {
    content: "";
    display: block;
    background-color: black;
    height: 40px;
    width: 15px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    position: absolute;
}

.discharged::before {
    content: "";
    display: block;
    background-color: rgb(196, 36, 36);
    height: 100px;
    width: 70px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

.half-charged::before {
    content: "";
    display: block;
    background-color: rgb(252, 249, 46);
    height: 100px;
    width: 125px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

.fully-charged::before {
    content: "";
    display: block;
    background-color: rgb(36, 196, 87);
    height: 100px;
    width: 250px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}