* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

h1 {
    text-align: center;
    position: relative;
}

span {
    background-color: white;
}

h1::before,
h1::after {
    content: "";
    display: block;
    background: black;
    width: 750px;
    height: 3px;
    position: absolute;
    top: 50%;
    z-index: -2;
}

h1::before {
    left: 0;
}

h1::after {
    right: 0;
}