* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

div {
    font-family: Oswald;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
}

.section {
    box-sizing: border-box;
    height: 200px;
    margin-bottom: 10px;
    padding: 40px 10px;
    overflow: hidden;
}

.wrapper {
    float: left;
    width: 80%;
    padding: 0;
}

.info {
    width: 100%;
    padding: 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.main {
    background-color: #ddd;
    width: 75%;
    float: right;
}

.sb1,
.sb2 {
    background-color: #ccc;
}

.sb1 {
    float: left;
    width: 25%;
}

.sb2 {
    float: right;
    width: 20%;
}

#header,
#footer {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #eee;
    margin: 10px 0;
}

.container {
    width: 960px;
    margin: auto;
}

.bottom-element {
    margin-top: 50px;
    background-color: #c8d5f0;
    width: 240px;
    clear: both;
}