@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    70% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 50px;
    background-color: #ffffff;
}

.container {
    background-color: #F7F7F7;
}

.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../images/header-background.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo {
        height: 70px;
        width: 56px;
        position: absolute;
        left: 50px;
        top: 50px;
    }
    &__container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.title-main {
    color: #fff;
    &__first {
        display: block;
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 10px;
        animation: 2s ease 1s leftToRight;
    }
    &__second {
        display: block;
        font-size: 40px;
        font-weight: 100;
        line-height: 48px;
        letter-spacing: 5px;
        animation: 2s ease 1s rightToLeft;
        margin-bottom: 50px;
    }
}

.btn {
    &:link, &:visited {
        display: inline-block;
        padding: 15px 40px;
        text-transform: uppercase;
        text-decoration: none;
        color: #777;
        background: #fff;
        border-radius: 50px;
        transition: all .3s;
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow: (0px 4px 4px rgba(0, 0, 0, .2))
    }
    &:active {
        transform: translateY(-2px);
    }
}