* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

.first-circle {
    box-shadow: 0 0 0 40px rgb(255, 255,0),
                0 0 0 80px rgb(0, 0, 255);
}

.first-circle,
.second-circle {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 200px auto 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: white;
}

.second-circle::after {
    content: "";
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color:rgb(255, 255,0);
    height: 180px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.second-circle::before {
    content: "";
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color:rgb(0, 0, 255);
    height: 260px;
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}